@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nexa";
  font-style: normal;
  font-weight: 400;
  src: local('Opensans-Light'), url("./assets/fonts/NexaBook.otf") format('truetype');
  font-display: swap;
}

:root {
  --toastify-color-light: #fff;
  --toastify-color-dark: #121212;
  --toastify-color-info: #f8ffd29e;
  --toastify-color-success: #8ADAB2;
  --toastify-color-warning: #cadf52;
  --toastify-color-error: #9e0303;
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);

  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);

  --toastify-toast-width: 320px;
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: Nexa;
  --toastify-z-index: 9999;

  --toastify-text-color-light: #757575;
  --toastify-text-color-dark: #fff;

  --toastify-text-color-info: #fff;
  --toastify-text-color-success: #fff;
  --toastify-text-color-warning: #fff;
  --toastify-text-color-error: #fff;

  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;

  --toastify-color-progress-dark: #bb86fc;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);
}

body {
  margin: 0;
  box-sizing: border-box;
  /* background-color: #eef8f8; */
  height: 100dvh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: #DF826C;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #DF826C;
  border-radius: 14px;
  border: 3px solid #DF826C;
}

.scrollBarWidth::-webkit-scrollbar {
  width: 3px;
}

.scrollBarThumb::-webkit-scrollbar-thumb {
  background-color: #DF826C;
  border-radius: 14px;
  border: 3px solid #DF826C;
}

.scrollBarWidthNone::-webkit-scrollbar {
  width: 0px;
}

main {
  display: block;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
}

h2 {
  font-size: 20px;
  font-weight: 800;
  line-height: 28px;
  letter-spacing: 0em;
}

h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
}

h4 {
  font-size: 16px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0em;
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
}

/* Remove arrow from input number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@layer utilities {
  .custom-transition {
    @apply transition-all ease-in-out duration-300;
  }

  .icon {
    @apply h-5 w-5 md:mr-2 md:ml-2 transition-all ease-in-out duration-300 group-hover:scale-110;
  }
}

/* ELlepsis Loader */
.ellipsis-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
}

.lds-ellipsis div {
  position: absolute;
  top: 7px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #ffffff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 24px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 48px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}

/*  Loader */
.loader {
  width: 64px;
  height: 64px;
  position: relative;
  animation: rotate 1.5s ease-in infinite alternate;
}

.loader::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  color: #752444;
  background: currentColor;
  width: 64px;
  height: 32px;
  border-radius: 0 0 50px 50px;
}

.loader::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 10%;
  background: #fff;
  width: 8px;
  height: 64px;
  animation: rotate 1.2s linear infinite alternate-reverse;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

/*  */
.loader-16 {
  transform: rotateZ(45deg);
  /* background-color: #0284c7; */
  perspective: 1000px;
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

.loader-16:before {
  color: #752444;
  content: "";
  display: block;
  position: absolute;
  top: 20px;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  -webkit-animation: 2s spin linear infinite;
  animation: 2s spin linear infinite;
}

.loader-16:after {
  color: #a7a9ac;
  content: "";
  display: block;
  position: absolute;
  top: -20px;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  -webkit-animation: 1s spin linear infinite;
  animation: 1s spin linear infinite;
}

.loader-16:before {
  transform: rotateX(180deg);
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.1s;
}

.loader-16:after {
  transform: rotateY(180deg);
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.1s;
}

@-webkit-keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@-webkit-keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@-webkit-keyframes spin {

  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }

  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }

  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }

  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }

  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }

  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }

  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }

  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}

@keyframes spin {

  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }

  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }

  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }

  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }

  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }

  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }

  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }

  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}

/*  */
.loader-container {
  height: 70px;
  width: 70px;
  position: relative;
}

.loader-03-right {
  color: #a7a9ac;
  height: 70px;
  width: 70px;
  position: absolute;
  top: -15px;
  left: 15px;
  border: 0.5em solid currentcolor;
  border-bottom-color: transparent;
  border-radius: 50%;
  -webkit-animation: 1s loader-03 linear infinite;
  animation: 1s loader-03 linear infinite;
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.1s;
}

.loader-03-left {
  color: #DF826C;
  height: 70px;
  width: 70px;
  position: absolute;
  top: 15px;
  left: -15px;
  border: 0.5em solid currentcolor;
  border-bottom-color: transparent;
  border-radius: 50%;
  -webkit-animation: 1s loader-03 linear infinite;
  animation: 1s loader-03 linear infinite;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.3s;
}

/* .loader-03:before {
  transform: rotateX(180deg);
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.1s;
}
.loader-16:after {
  transform: rotateY(180deg);
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.1s;
} */
@-webkit-keyframes loader-03 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-03 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Accordian */

.collapse-plus .collapse-title:after {
  font-weight: 800;
  top: 1.3rem;
}

/* React Select */
.css-1dimb5e-singleValue {
  color: #ffffff !important;
  font-size: 14px !important;
  margin-top: 3px;
}

.css-tj5bde-Svg {
  color: #ffffff !important;
}

.css-1nmdiq5-menu {
  z-index: 999 !important;
  top: 45px !important;
}

/* React Toastify */
.Toastify__toast {
  border-radius: 8px;
}

/* input[type="file" i] {
  appearance: none;
  background-color: #752444 !important;
  cursor: pointer !important;
  align-items: baseline;
  color: inherit;
  text-overflow: ellipsis;
  white-space: pre;
  text-align: start !important;
  padding: initial;
  border: initial;
  overflow: hidden !important;
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  margin: 0em;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-color: none !important;
  border-image: initial;
} */

/* input[type="file"] {
  display: none;
} */

/* Pill */
.badge {
  display: inline-block;
  padding: 0.3rem 0.5rem;
  font-size: 85%;
  font-weight: 600;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.358rem;
  border: none;
}

.rounded-pill {
  border-radius: 50rem;
}

.badge.badge-light-primary {
  background-color: #e0f2fe;
  color: #0284c7;
}

.badge.badge-light-warning {
  background-color: #ffedd5;
  color: #ea580c;
}

.badge.badge-light-danger {
  background-color: #fee2e2;
  color: #dc2626;
}

.badge.badge-light-slate {
  background-color: #161616;
  color: #f8f6f6;
}

/*  */

.area {
  /* background: #4e54c8; */
  /* background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8); */
  width: 100%;
  height: 100vh;

}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;

}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }

}